:root{
    --vermelho:#e50914;
    --preto:#141414;
    --amazonWellow:#e47911;
    --amazonWhite:#fafad2;

    --primary-logo: var(--preto);
    --primary-background: var(--amazonWellow);
    --primary-color: var(--amazonWhite);
    --primary-text: var(--amazonWhite);
    --primary-text-hover: var(--preto);
}

 /*##################### Elementos Base##################### */
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--primary-background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box; 
    color: var(--primary-body-color);
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-size: 40px;
    color: var(--primary-logo);
}

header nav a{
    text-decoration: none;
    color: var(--primary-text);
    border-left: 20px;
    padding: 10px;
}

header nav a:hover{
    color: var(--primary-text-hover);
 }

 /*##################### Elementos Filme Principal ##################### */

 .filme_principal{
     font-size: 16px;
     background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../public/img/capaPrincipal.jpg");
     height: 500px;
     max-height: 500px;
     width: 100%;

     background-size: cover;
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     border-radius: 2%;
     
     

 }

 .filme_principal .container{
    margin-left: 2%;
 }

 .filme_principal .descricao{
    
     margin-bottom: 40px;
     width: 50%;
     
 }

 main {
     color: var(--primary-text);

 }


 .titulo {
     font-size: 40px;
 }


 .botao{
    
    background-color: rgba(0,0,0,.50);
    color: var(--primary-text);

    margin-top: 1%;
    border-radius: 10%;
    border: none;
    padding: 16px 30px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;

    transition-property: color;
    transition: 1s;
    
 }

 .botao:hover{
     background-color: var(--primary-text);
     color: var(--primary-text-hover);
 }

 .botao i {
     margin-right: 5px;
 }

 /*##################### Elementos Filmes Carrosel ##################### */
.splide__slide{
    cursor: pointer;
    display: flex;
    width: 400px;
    height: 350px;
    
}

.splide__slide img{
    border-radius: 5%;
}

.splide{
    margin-left: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

/*##################### Media Query##################### */

@media screen and (max-width:700px) {

    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .filme_principal{
        display: block  ;
        height: 300px;
        max-height: 400px;
    }

    .container .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .botao {
        width: 200px;
        display:flexbox;
    }
    
}